.authmenu {
  list-style: none;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.authmenu__item {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 3px;
  transition: all .3s ease;
}

.authmenu__link {
  text-decoration: none;
  color: #fff;
}

.authmenu__item:hover {
  color: #000;
  background-color: #3DDC84;
}

@media screen and (max-width: 768px) {
  
}
