.movies-card-list {
  background-color: #202020;
}

.movies-card-list__container {
  margin: 0 auto;
  padding: 70px 70px 10px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 364px));
  grid-auto-rows: 281px;
  gap: 37px 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .movies-card-list__container {
    grid-template-columns: repeat(2, minmax(100px, 339px));
    grid-auto-rows: 262px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px 30px;
  }
}