.movies-card-list {
  background-color: #202020;
}

.movies-card-list__container {
  margin: 0 auto;
  padding: 70px 70px 10px;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 281px;
  gap: 37px 24px;
}

.saved-movies__devider {
  margin: 0;
  padding: 0;
  height: 140px;
}