.movies-card {
  display: flex;
  flex-direction: column;
  max-width: 364px;
  max-height: 281px;
  background: #222;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.movies-card__picture {
  width: 100%;
}

.movies-card__name-and-like {
  margin: 0;
  padding:  8px 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__name {
  margin: 0;
  padding: 0;
}

.movies-card__like {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url('../../images/heart-black.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__like_active {
  background-image: url('../../images/heart-red.svg');
}

.movies-card__movie-duration {
  margin: 0;
  padding: 10px 16px 16px;
  color: #8b8b8b;
  font-size: 11px;
}