.movies-card {
  display: flex;
  flex-direction: column;
  max-height: 281px;
  width: 100%;
  background: #222;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.movies-card__picture {
  object-fit: contain;
  object-position: center;
}

.movies-card__name-and-like {
  margin: 0;
  padding:  8px 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__name {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movies-card__like {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url('../../images/heart-black.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__like_active {
  background-image: url('../../images/heart-red.svg');
}

.movies-card__close-btn {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url('../../images/close-small-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.movies-card:hover .movies-card__close-btn {
  opacity: 1;
}

.movies-card__movie-duration {
  margin: 0;
  padding: 10px 16px 16px;
  color: #8b8b8b;
  font-size: 11px;
}

@media screen and (max-width: 768px) {
  .movies-card {
    max-width: 339px;
    max-height: 262px;
  }

  .movies-card__movie-duration {
    padding-top: 7px;
    padding-bottom: 14px;;
  }
}