.more-button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.more-button_none {
  display: none;
}

.more-button__btn {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 36px;
  background: none;
  color: #fff;
  border: 1px solid #424242;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .3s ease;
}

.more-button__btn:hover {
  background: #3ddc84;
  color: #000;
  border-color: #3ddc84;
}

@media screen and (max-width: 320px) {
  .more-button__btn {
    max-width: 240px;
  }
}