.navigation {
  padding: 0;
  margin: 0;  
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation__films {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  column-gap: 16px;
  list-style: none;
}

.navigation__item-link {
  text-decoration: none;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.navigation__item-link_active {
  font-weight: 500;
}

.navigation__profile-link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  column-gap: 17px;
  align-items: center;
}

.navigation__profile-link::after {
  content: " ";
  width: 26px;
  height: 30px;
  background-image: url('../../images/accaunt.svg');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  background-color: #313131;
  border-radius: 4px;
}