.search-form__container {
  margin: 0 auto;
  padding: 70px 70px 10px;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
}

.search-form__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.search-form__input {
  margin: 0;
  padding: 0 135px 0 25px;
  height: 72px;
  background-color: #202020;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  box-sizing: border-box;
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.search-form__button {
  position: absolute;
  height: 52px;
  width: 100px;
  border-radius: 5px;
  margin: 0 10px 0 0;
  background-color: #4285F4;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  border: none;
}

.search-form__hr {
  width: 100%;
  border-bottom: 1px solid rgba(170, 170, 170, .2);
  margin: 0;
  padding: 44px 0 0;
  transition: .2;
}