.portfolio {
  background-color: #202020;
  margin: 0;
  padding: 0;
}

.portfolio__container {
  margin: 0 auto;
  padding: 100px 70px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #8b8b8b;
}

.portfolio__links {
  margin: 0;
  padding: 30px 0 0;
  list-style: none;
  width: 100%;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 0 18px;
  position: relative;
}

.portfolio__item:not(:last-of-type) {
  border-bottom: 1px solid #404040;
  position: relative;
}

.portfolio__item:after {
  content: "";
  background-image: url('../../../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  width: 18px;
  height: 18px;
  padding: 1px 0 0;
  margin: 0;
  transition: opacity .3s ease;
  position: absolute;
  top: 38px;
  right: 6px;
}

.portfolio__item:hover:after {
  opacity: .8;
}

.portfolio__link {
  text-decoration: none;
  color: #fff;
  font-size: 2.35vw;
  line-height: 50px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 1290px) {
  .portfolio__link {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    padding: 90px 50px;
  }

  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__item:not(:last-of-type) {
    border-color: #e6e6e6;
  }

  .portfolio__item:after {
    max-width: 17px;
    max-height: 17px;
    top: 38px;
    right: 5px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__container {
    padding: 68px 14px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__links {
    padding-top: 21px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__item {
    padding: 21px 0 18px;
  }

  .portfolio__item:after {
    width: 11px;
    height: 11px;
    top: 27px;
    right: 4px;
  }
}