.filter-checkbox {
  margin: 0;
  padding: 26px 0 0;
  position: relative;
}

.filter-checkbox__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.filter-checkbox__label {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.filter-checkbox__btn {
  display: none;
}

.filter-checkbox__label-text {
  position: absolute;
  top: 15px;
  left: 50px;
}

.filter-checkbox__sliding-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #202020;
  border-radius: 20px;
}

.filter-checkbox__sliding-btn::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3e3e3e;
  top: 2px;
  right: 18px;
  transition: all .3s ease;
}

.filter-checkbox__btn:checked + .filter-checkbox__sliding-btn::after {
  transform: translate(16px);
  background: #3ddc84;
}

.filter-checkbox__btn:checked + .filter-checkbox__sliding-btn {
  background: #505050;
}

@media screen and (max-width: 320px) {
  .filter-checkbox__label-text {
    font-size: 11px;
    line-height: 18px;
    top: 20px;
    left: 51px;
  }

  .filter-checkbox {
    padding-top: 29px;
    margin-left: -2px;
  }
}
