.submit-button {
  margin: 0;
  padding: 0;
}

.submit-button__btn {
  margin: 0;
  padding: 0 30px;
  background: #4285f4;
  border: none;
  border-radius: 3px;
  height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition: opacity .3s ease;
  width: 100%;
}

.submit-button__btn:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .submit-button__btn {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
}